<?xml version='1.0' encoding='UTF-8'?>

<!DOCTYPE hibernate-configuration

        PUBLIC "-//Hibernate/Hibernate Configuration DTD//EN"

        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="driver_class">com.mysql.jdbc.Driver</property>
        <!-- 连接数据库的URL jdbc:mysql://10.168.8.162:3306/meta -->
        <property name="url">
            jdbc:mysql://127.0.0.1:3306/fundmd
        </property>
        <property name="useUnicode">true</property>
        <property name="characterEncoding">UTF-8</property>

        <!--连接的登录名-->
        <property name="username">root</property>

        <!--登录密码-->
        <property name="password">bjmd2014</property>

        <property name="hibernate.connection.provider_class">
            org.guiceside.persistence.hibernate.support.DruidConnectionProvider
        </property>
        <property name="initialSize">1</property>
        <property name="minIdle">1</property>
        <property name="maxActive">20</property>
        <property name="maxWait">60000</property>
        <property name="timeBetweenEvictionRunsMillis">60000</property>
        <property name="minEvictableIdleTimeMillis">60000</property>
        <property name="validationQuery">SELECT 1</property>
        <property name="testWhileIdle">true</property>
        <property name="testOnBorrow">false</property>
        <property name="testOnReturn">false</property>
        <property name="poolPreparedStatements">false</property>
        <property name="defaultAutoCommit">true</property>
        <property name="filters">stat</property>
        <property name="defaultTransactionIsolation">READ_COMMITTED</property>

        <property name="hibernate.current_session_context_class">
            managed
        </property>


        <!-- 一次读的数据库记录数 -->

        <property name="jdbc.fetch_size">50</property>

        <!-- 设定对数据库进行批量删除 -->
        <property name="jdbc.batch_size">30</property>


        <!--是否将运行期生成的SQL输出到日志以供调试-->

        <property name="show_sql">false</property>
        <property name="format_sql">false</property>

        <!--指定连接的语言-->


        <property name="dialect">org.hibernate.dialect.MySQL5Dialect</property>

        <property name="hibernate.search.default.directory_provider">filesystem</property>

        <property name="hibernate.search.default.indexBase">/project/lucene/indexes</property>
    </session-factory>

</hibernate-configuration>